{% extends "base.html" %}
{%block content%}
    {% load static %}
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">About Us</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">About</p>
            </div>
        </div>
    </div>
<div class="container-fluid">
    <div class="row">
    
        <div class="col-md-7 border border-dark rounded my-1 mx-auto">
<h5 class="text-center font-weight-normal" style="  word-spacing: 10px;  line-height: 180%;"><strong>OUR STORE</strong>
    caters to thoughtful shoppers who appreciate unique designs and
    <a>top quality</a> pieces you just can’t find anywhere else. We are constantly
    curating fresh new collections and looking for the next big thing our customers will love.
    Founded in <span>Vienna</span>  in 2019, we are proud to be your <span>Online Clothing Shop</span> that you can rely on for our expert service and care.</h5>
        </div>


    </div>
</div>


<div class="container-fluid">
    <div class="row">

        <div class="col-md-5 border border-dark rounded my-5 mr-3 mx-auto" style="    background-color: #D19C97;">
<h5 class="text-center font-weight-normal pa-5" style="  word-spacing: 10px;  line-height: 180%;"><strong>Our Mission </strong>
   is to make a difference through our branding by staying ahead of the fashion trends, defining style and giving customers what they want.
</h5>
        </div>

        <div class="col-md-5 border border-dark rounded my-5 ml-3 mx-auto" style="    background-color: #D19C97;">
<h5 class="text-center font-weight-normal pa-5" style="  word-spacing: 10px;  line-height: 180%;"><strong>OUR VISION</strong>
     is to change the way our society connects with the fashion industry by providing our customers with products that are ethically and responsibly sourced.

   </h5>
        </div>


    </div>
</div>







{%endblock%}