
{% extends "base.html" %}
    {% load static %}
{%block content%}

    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">

                    {%for i in Cart_items%}
                        <tr>
                            <td class="align-middle"><img src="img/product-1.jpg" alt="" style="width: 50px;">{{i.product_name}}</td>
                            <td class="align-middle">{{i.price}}
                      <input type="hidden" name="price" id="price" class="form-control form-control-sm bg-secondary text-center Cart_items" value="{{i.price}}">

                            </td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary chg-quantity update_cart" value="-" data-product="{{i.product_id}}" data-action="remove">
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="quantity" id="quantity" class="form-control form-control-sm bg-secondary Cart_items text-center" value="{{i.quantity}}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary chg-quantity update_cart" value="+" data-product="{{i.product_id}}" data-action="add">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <span id="">

                                </span>
                                {{i.total_price}}
                                <input type="hidden" value="{{i.total_price}}" id="total_price" class="total_price_span">
                            </td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary update_cart" data-action="delete" data-product="{{i.product_id}}">
                                <i class="fa fa-times"></i></button></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
            <!--    <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form> -->
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium " id="Subtotal">$150</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium" id="Shipping">100</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold" id="Total">$160</h5>
                        </div>
                        <a href="/checkout">
                            <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->

{%endblock%}